@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header
{
    display: flex;
    padding: 1vh;
    justify-content: center;
}

.gamma-letter
{
    width: 90vh;
}

#gamma
{
    height: 5vh;
}

header img
{
    height: 5vh;
    width: 5vh;
    margin: 1vh;
}

.social_links
{
    width: 90vh;
    text-align: right;
}

.container
{
    display: flex;
    flex-direction: column;
    margin-top: 8vh;
    background-image: url(image/background.PNG);
    background-repeat: no-repeat;
    background-size: 80vh;
    background-position: bottom;
    height: 80vh;  
}

.title-text
{
    text-align: center;
    font-size: 2.5vh;
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.title-text h1
{
    font-weight: bold;
}

.my-picture
{
    margin: 3vh;
    display: flex;
    justify-content: center;
}

.my-picture img
{
    height: 20vh;
    border-radius: 10vh;
    box-shadow: 3px 7px 10px gray;
    border-top: 2px solid gray;
}

.container-about
{
    display: flex;
    flex-direction: column;
    background-color: #00BF63;
    color: white;
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2.5vh;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 40vh;
    padding-right: 40vh;
}

.about p
{    
    margin: 2vh;
}

.about-fatec
{
    display: flex;
    flex-direction: column;
    margin: 5vh;
    font-size: 2.5vh;
}

.link-fatec, .link-fatec a
{
    margin-top: 5vh;
    color: white;
}

.container-abilities
{
    display: flex;
    justify-content: center;
    font-size: 2.5vh;
    height: 25vh;
}

.abilities
{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 50vh);
    margin-top: -10vh;
    background-color: white;
    border-radius: 3vh;
    padding: 3vh;
    box-shadow: 0px 5px 10px gray;
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    height: fit-content;
}

.item-title
{
    font-weight: bold;
    font-size: 3vh;
    margin: 2vh;
}

.item-content
{
    margin: 3vh;
    font-size: 2vh;
}

#item1
{
    border-right: 2px solid lightgray;
}

#item3
{
    border-left: 2px solid lightgray;
}

.container-projects
{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2.5vh;
    padding-top: 4vh;
    height: 110vh;
}

.projects
{
    display: grid;
    grid-template-columns: repeat(3, 40vh);
    grid-template-rows: repeat(2, 35vh);
    justify-content: center;
    padding: 3vh;
}

.git-link
{
    color: #00BF63;
}

.projects a
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 0px black;
    font-size: 3vh;
    margin: 0.8vh;
    border-radius: 2vh;
    box-shadow: 0px 5px 10px gray;
}

#project1
{
    background-image: url(image/bank.jpg);
    background-size: cover;
}

#project2
{
    background-image: url(image/gym.jpg);
    background-size: cover;
}

#project3
{
    background-image: url(image/curso.jpg);
    background-size: cover;
}

#project4
{
    background-image: url(image/imc.jpg);
    background-size: cover;
}

#project5
{
    background-image: url(image/series.jpg);
    background-size: cover;
}

#project6
{
    background-image: url(image/lampada.jpg);
    background-size: cover;
}

#project1:hover, #project2:hover, #project3:hover, #project4:hover, #project5:hover, #project6:hover
{
    transform: scale(0.97);
    transition: transform .2s;
}

.container-contact
{
    display: flex;
    justify-content: center;
    font-size: 3vh;
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    background-color: #00BF63;
}

.contact
{
    margin: 3vh;
    margin-top: -10vh;
    padding: 2vh;
    background-color: white;
    border-radius: 2vh;
    color: black;
    box-shadow: 1px 5px 10px rgb(2, 85, 2);
    border-top: 1px solid lightgray;
}

.contact h3
{
    margin-top: 2vh;
} 

.contact-images
{
    height: 12vh;
    padding-top: 1vh;
}

.link-image
{
    display: inline-block;
    height: 8vh;
    width: 8vh;
    border-radius: 4vh;
    background-size: 5vh;
    background-repeat: no-repeat;
    background-position: center;
    margin: 2vh;
    border: 2px solid black;
}

.link-image:hover
{
    transform: scale(1.1);
    transition: transform .2s;
}

#whatsapp
{
    background-image: url(image/whatsapp.png);
}

#email
{
    background-image: url(image/mail.png);
}

footer
{
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #00BF63;
}

.gamma-footer
{
    display: flex;
    justify-content: center;
}

footer img
{
    height: 10vh;
    filter: invert(100%);
}

.social-medias
{
    display: flex;
    justify-content: center;
}

.social
{
    display: inline-block;
    height: 6.5vh;
    width: 6.5vh;
    border-radius: 4vh;
    background-size: 3.5vh;
    background-repeat: no-repeat;
    background-position: center;
    margin: 2vh;
    border: 2px solid white;
    margin-top: 5vh;
}

#social-linkedin
{
    background-image: url(image/social-linkedin.png);
}

#social-linkedin:hover
{
    background-image: url(image/social-linkedin-green.png);
}

#social-github
{
    background-image: url(image/social-github.png);
}

#social-github:hover
{
    background-image: url(image/social-github-green.png);
}

#social-instagram
{
    background-image: url(image/social-insta.png);
}

#social-instagram:hover
{
    background-image: url(image/social-instagram-green.png);
}

.social:hover
{
    background-color: white;
}

.toggleTheme
{
    border: 2px solid #39e994;
    background-color: white;
    background-image: url(image/theme-green.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 5vh;
    height: 10vh;
    width: 10vh;
    border-radius: 10vh;
    margin-left: 3vh;
    position: fixed;
    bottom: 3.5vh;
    right: 2vh;
}

.toggleTheme:hover
{
    transform: scale(0.97);
    transition: transform .2s;
    cursor: pointer;
}
