@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* definindo cores padrão para o tema branco */
:root {
    /* header */
    --bg-header: white;

    /* body */
    --bg-body: white;
    --txt-body: black;

    /* toggle */
    --border-toggle: 0.2vh solid white;
    --bg-toggle: black;
    --bg-image-toggle: url(image/moon-white.svg);

    /* habilidades */
    --bg-abl: white;

    /* contato */
    --bg-contact: white;
    --txt-contact: black;
}

body
{
    height: fit-content;
    background-color: var(--bg-body);
    transition: background-color 0.3s ease;
    color: var(--txt-body);
}

body.dark
{
    --bg-body: black;
    --txt-body: white;
}

header
{
    display: flex;
    padding: 2vh;
    justify-content: center;
    position: fixed;
    width:100vw;
    top: 0vh;
    border-bottom: 0.2vh solid lightgray;
    z-index: 1;
    background-color: var(--bg-header);
    transition: background-color 0.3s ease;
}

body.dark header {
    --bg-header: black;
    --txt-header: white;
}

.gamma-letter
{
    width: 90vh;
}

#gamma
{
    height: 5vh;
    cursor: pointer;
}

header img
{
    height: 5vh;
    width: 5vh;
    margin: 1vh;
}

.sections
{
    display: flex;
    width: 200vh;
    justify-content: center;
    text-align: center;
    gap: 10vh; 
    align-items: center;
}

.section-items
{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4vh;
    cursor: pointer;
}

.section-items:hover
{
    color: #00BF63;
    transition: 0.3s;
}

.social_links
{
    width: 90vh;
    text-align: right;
}

.container
{
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    background-image: url(image/background-transparent.png);
    background-repeat: no-repeat;
    background-size: 80vh;
    background-position: bottom;
    height: 80vh;
}

.title-text
{
    text-align: center;
    font-size: 2.5vh;
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.title-text h1
{
    font-weight: bold;
}

.my-picture
{
    margin: 3vh;
    display: flex;
    justify-content: center;
    padding-bottom: 1.5vh;
}

.my-picture img
{
    height: 20vh;
    border-radius: 10vh;
    box-shadow: 0.3vh 0.7vh 1vh gray;
    border-top: 2px solid gray;
}

.container-about
{
    display: flex;
    flex-direction: column;
    background-color: #00BF63;
    color: white;
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2.5vh;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 40vh;
    padding-right: 40vh;
}

.about p
{    
    margin: 2vh;
}

.about-fatec
{
    display: flex;
    flex-direction: column;
    margin: 5vh;
    font-size: 2.5vh;
}

.link-fatec, .link-fatec a
{
    margin-top: 5vh;
    color: white;
}

.container-abilities
{
    display: flex;
    justify-content: center;
    font-size: 2.5vh;
    height: 25vh;
}

.abilities
{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 50vh);
    margin-top: -10vh;
    background-color: var(--bg-abl);
    border-radius: 3vh;
    padding: 3vh;
    box-shadow: 0px 0.5vh 1vh rgba(46, 46, 46, 0.616);
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    height: fit-content;
}

body.dark .abilities
{
    --bg-abl: black;
} 

.item-title
{
    font-weight: bold;
    font-size: 3vh;
    margin: 2vh;
}

.item-content
{
    margin: 3vh;
    font-size: 2vh;
}

#item1
{
    border-right: 0.2vh solid rgba(46, 46, 46, 0.616);
}

#item3
{
    border-left: 0.2vh solid rgba(46, 46, 46, 0.616);
}

.container-projects
{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2.5vh;
    padding-top: 4vh;
    height: 110vh;
}

.projects
{
    display: grid;
    grid-template-columns: repeat(3, 40vh);
    grid-template-rows: repeat(2, 35vh);
    justify-content: center;
    padding: 3vh;
}

.git-link
{
    color: #00BF63;
}

.projects a
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    text-shadow: 0.2vh 0.2vh 0px black;
    font-size: 3vh;
    margin: 0.8vh;
    border-radius: 2vh;
    box-shadow: 0px 0.5vh 1vh rgb(44, 44, 44);
}

#project1
{
    background-image: url(image/bank.jpg);
    background-size: cover;
}

#project2
{
    background-image: url(image/gym.jpg);
    background-size: cover;
}

#project3
{
    background-image: url(image/curso.jpg);
    background-size: cover;
}

#project4
{
    background-image: url(image/imc.jpg);
    background-size: cover;
}

#project5
{
    background-image: url(image/series.jpg);
    background-size: cover;
}

#project6
{
    background-image: url(image/lampada.jpg);
    background-size: cover;
}

#project1:hover, #project2:hover, #project3:hover, #project4:hover, #project5:hover, #project6:hover
{
    transform: scale(0.97);
    transition: transform .2s;
    z-index: 0;
}

.container-contact
{
    display: flex;
    justify-content: center;
    font-size: 3vh;
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    background-color: #00BF63;
}

.contact
{
    margin: 3vh;
    margin-top: -10vh;
    padding: 2vh;
    background-color: var(--bg-contact);
    border-radius: 2vh;
    color: var(--txt-contact);
    box-shadow: 0.1vh 0.5vh 1vh rgb(75, 66, 66);
    border-top: 0.1vh solid rgba(68, 68, 68, 0.616);
}

body.dark .contact
{
    --bg-contact: black;
    --txt-contact: white;
}

.contact h3
{
    margin-top: 2vh;
} 

.contact-images
{
    height: 12vh;
    padding-top: 1vh;
}

.link-image
{
    display: inline-block;
    height: 8vh;
    width: 8vh;
    border-radius: 4vh;
    background-size: 5vh;
    background-repeat: no-repeat;
    background-position: center;
    margin: 2vh;
    border: 0.2vh solid black;
}

.link-image:hover
{
    transform: scale(1.1);
    transition: transform .2s;
}

#whatsapp
{
    background-image: url(image/whatsapp.png);
}

#email
{
    background-image: url(image/mail.png);
}

footer
{
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #00BF63;
}

.gamma-footer
{
    display: flex;
    justify-content: center;
}

footer img
{
    height: 10vh;
    filter: invert(100%);
    cursor: pointer;
}

.social-medias
{
    display: flex;
    justify-content: center;
}

.social
{
    display: inline-block;
    height: 6.5vh;
    width: 6.5vh;
    border-radius: 4vh;
    background-size: 3.5vh;
    background-repeat: no-repeat;
    background-position: center;
    margin: 2vh;
    border: 0.2vh solid white;
    margin-top: 5vh;
}

#social-linkedin
{
    background-image: url(image/social-linkedin.png);
}

#social-linkedin:hover
{
    background-image: url(image/social-linkedin-green.png);
}

#social-github
{
    background-image: url(image/social-github.png);
}

#social-github:hover
{
    background-image: url(image/social-github-green.png);
}

#social-instagram
{
    background-image: url(image/social-insta.png);
}

#social-instagram:hover
{
    background-image: url(image/social-instagram-green.png);
}

.social:hover
{
    background-color: white;
}

.toggleTheme
{
    border: var(--border-toggle);
    background-color: var(--bg-toggle);
    background-image: var(--bg-image-toggle);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 5vh;
    height: 10vh;
    width: 10vh;
    border-radius: 10vh;
    margin-left: 3vh;
    position: fixed;
    bottom: 3.5vh;
    right: 2vh;
    opacity: 50%;
}

body.dark .toggleTheme
{
    --bg-toggle: white;
    --bg-image-toggle: url(image/theme-green.svg);
    --border-toggle: 0.2vh solid #00BF63;
}

.toggleTheme:hover
{
    transform: scale(0.97);
    transition: transform .2s;
    cursor: pointer;
    opacity: 100%;
}
